# Example Bazel file to test multi-config
# Does not compile at this time.

cc_binary(
    name = "build-watch",
    srcs = [
    {{#files}}
        "{{relpath}}"{{^last}}, {{/last}}
    {{/files}}
    ],
)
