
add_library(lib-build-watch
{{#files}}
{{/files}}
)

target_include_directories(lib-build-watch
PUBLIC
${CMAKE_CURRENT_SOURCE_DIR}/include
)

target_link_libraries(lib-build-watch
PUBLIC
fmt::fmt
spdlog::spdlog

PRIVATE
compiler_options
third-party
)

if (PACKAGE_TESTS)
enable_testing()
include(GoogleTest)
add_subdirectory(tests)
endif ()
